button {
    position: relative;
    padding: 15px 30px;
    background-color: blue;
    color: white;
    border: none;

    animation: mover 12s infinite;
}

@keyframes mover {
    0% {
        left: 0px;
        background-color: blue;
    }

    50% {
        left: 90vw;
        background-color: red;
    }

    100% {
        left: 0px;
        background-color: rgb(3, 249, 32);
    }
}