body {
    background-color: lightgoldenrodyellow;
    padding: 20px;
}

#titulo-clinica {
    text-align: center;
    color: darkblue;
}

.bemvindo {
    background-color: white;
    padding: 10px;
}

.img {text-align: center;}

#servicos {
    margin-top: 20px;
}

.servico {
    background-color: lightblue;
    padding: 10px;
}

#medicos {
    margin-top: 20px;
}

.medico {
    background-color: lightblue;
    padding: 10px;
}

#aviso {
    background-color: rgb(255, 51, 0);
    margin-top: 20px;
}

.depoimento {
    background-color: rgb(0, 255, 76);
    margin-top: 10px;
}